<!DOCTYPE html>
<html lang="en">
<title>Masarah</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' type='text/css' href='/static/styles/style3.css'>



<body>

  <!-- Navbar -->
  <div class="topnav">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <img src="https://c.top4top.net/p_11327yd9q1.png" width="195px" height="115px" alt="">
  </div>



  <!-- Header -->
  <br>
  

  <div id="vodio">
    <!-- <video width="1520" height="500" controls
  poster="https://upload.wikimedia.org/wikipedia/commons/e/e8/Elephants_Dream_s5_both.jpg" >
  <source
    src="https://b.top4top.net/m_1132nknya1.mp4"
    type="video/mp4"> -->
    <!-- <video width="1520" height="500" controls src="https://filebin.net/65ap5jme5b12nnx6/Untitled.mp4?t=8y2g85cf">
    </video> -->
    <!-- <iframe width="1520" height="500" src="https://www.youtube.com/watch?v=mkoCu3q83D8">  </iframe> -->
    <iframe width="1520" height="500" src="https://www.youtube.com/embed/7WqIYPkq4lo">
    </iframe>
    
  </div>

  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Masarah :</h1>
        <p class="w3-padding-32">
          We may not know how patient feel from pain and sadness.<br>
          Especially when they are alone in the hospital and
          need people to take care of them.<br>
          Also, The Prophet Muhammad urged us to visit patients<br>
          From this point of view, I designed this website<br>
          to visit patients who needs emotional support easily
          .</p>
          <div class="image1">
              <a href="/volunteer"> <img src="https://static.thenounproject.com/png/259876-200.png" alt=""></a>
              <b class="pl">
              <p class="pl">Register New Volunteer Account </p></b>
            </div>
            <div class="image1">
                <a href="/volunteer/login"> <img width="200" height="200" src="https://cdn3.iconfinder.com/data/icons/security-3-1/512/access-512.png" alt=""></a>
                <b class="pl">
                <p class="pl">Sign In </p></b>
              </div>
              <div class="image1">
                  <a href="/volunteer/adlogin"> <img width="100" height="100" src="https://banner2.kisspng.com/20180712/jvx/kisspng-writing-infographic-writer-homework-essay-admin-icon-5b46fc4570c116.9738803815313787574618.jpg
                    " alt=""></a>
                  <b class="pl">
                  <p class="pl">Admin </p></b>
                </div>
      </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-third w3-center">
        </div>


      </div>
    </div>

    





</body>

</html>