
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mootools/1.6.0/mootools-core-compat.js"></script><!-- jQuery Library-->
    <link rel='stylesheet' type='text/css' href='/static/styles/styels10.css'>


    <title>volunteer</title>
</head>

<body>
        <div class="topnav">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <img src="https://c.top4top.net/p_11327yd9q1.png" width="195px" height="115px" alt="">
              </div>
            
    <div class="form-style-10">
        <h1>Admin Sign In </h1>
        <form action="/volunteer/admin" method="POST">
            <div class="section">User Name & Password</div>
            <div class="inner-wrap">
                <label>User Name  <input type="text" name="name" /></label>
                <label>password <input type="password" name="pass" /></label>
                
            </div>
            <div class="button-section">
                <input type="submit" name="Sign Up" />
               
            </div>
        </form>
    </div>
    </body>
</html>