

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel='stylesheet' type='text/css' href='/static/styles/styles.css'>


</head>

<body>


    <div class="container">
        <img src="https://e.top4top.net/p_1132xyl2d1.png" style="width:580px;height:370px;">
        <div class="image2"><img src="{{image}}" width="200px" height="200px"></div>
        <div class="name"> Name : {{name}}</div>
        <div class="National_ID"> National_ID : {{national_id}}</div>
    </div>
    <button onclick="myFunction()">Print this page</button>

    <script>
    function myFunction() {
      window.print();
    }
    </script>
</body>
 
</html>