
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mootools/1.6.0/mootools-core-compat.js"></script><!-- jQuery Library-->
            <link rel='stylesheet' type='text/css' href='/static/styles/styels18.css'>



    <title>volunteer</title>
</head>

<body>
    <div class="form-style-10">
        <h1>Signed Up successfully </h1>
            <div class="section">Thank you</div>
            <div class="inner-wrap">
                Your Signed Up successfully !!
                
            </div>
            <div class="button-section">
                <a href="/">go home</a>
               
            </div>
    </div>
    </body>
</html>