<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='style.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mootools/1.6.0/mootools-core-compat.js"></script><!-- jQuery Library-->
 <title>volunr</title>
</head>

<body>


    <div class="form-style-10">
        <h1>Sign Up Now!<span>Sign up and tell us what you think of the site!</span></h1>
        <form>
            <div class="section"><span>1</span>First Name & Address</div>
            <div class="inner-wrap">
                <label>Volunteer Name <input type="text" name="field1" /></label>
                <label>National ID <input type="text" name="field1" /></label>
                <!-- <label>id <textarea name="field2"></textarea></label> -->
                <label>Gender:</label>
                <input type="radio" name="gender" value="male"> Male
                <input type="radio" name="gender" value="female"> Female
            </div>

            <div class="section"><span>2</span>Email & Phone</div>
            <div class="inner-wrap">
                <label>Email Address <input type="email" name="field3" /></label>




                <p>Password</p>
                <input id="password" name="password" type="password" />
            </div>

            <div class="section"><span>3</span>Passwords</div>
            <div class="inner-wrap">
                <p>Add Your Personal Picture</p>
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                <br>
                <br>
                <br>


                <label>googil map <input type="password" name="field5" /></label>
            </div>
            <div class="button-section">
                <input type="submit" name="Sign Up" />

            </div>
        </form>
    </div>
    <script src='StrongPass.js'></script>


</body>

</html>