.w3-padding-32{
  font-size: 140%;
}

.image1{
  margin-top: 0px;
    align-content:center;
    text-align: center;
    display:inline-block;
    color: rgb(19, 204, 182);
    width: 300px;
}
.topnav {
    margin-top: 0px;
    overflow: hidden;
    background-color:rgb(19, 204, 182)
  }
  

  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

#vodio{
    contain: content;
    text-align: center;

}